*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* css starts */

.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;      
  overflow: hidden;
  background-color: #edf0f8;
}

.row-cards{
  display: flex;
  justify-content: space-around;  
  align-items: center;
  margin: 100px 0;
  gap: 4rem;
}

.col-card{
  flex-basis:100%;
  height: 200px;
  padding: 20px 0 0 5px;
  background-color: #fff;
}

.col-card {
  background-color: white;
}

.header {
  text-align: center;
  margin-top: 2%;
}

/* add task */

.add-task{
  width: 140px;
    border: 0;
    padding: 12px 10px;
    margin-top: 2%;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
}


/* add task form css */

.add-task-form {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.add-task-form input {
  padding: 5px;
  margin-bottom: 5px;
}

.add-task-form button {
  padding: 8px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  cursor: pointer;
  width: 5%; 
  margin-left: 1rem;
  border-radius: 6px;
}

.add-task-form button:hover {
  background-color: #45a049;
}


.add-task-form input{
  width: 20%;
}

.add-task-here{
  margin-top: 1rem;
  display: flex;
}


/* mark complete and delete button css */

.mark-complete-button, .delete-button{
  padding: 8px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  cursor: pointer;
  width: auto; 
  margin-left: 1rem;
  border-radius: 6px;
}

.delete-button{
  background-color: red !important;
}